
<!-- SLIDER -->
<section class="sliderHome" >
  <h2 class="titleSlider">¿Desde cuándo
    MITSUBISHI te acompaña?</h2>
<div class="ba-slider">
    <img src="../../../registrate/assets/img/banners/banner4.jpg" alt="MITSUBISHI">
<!--  <img src="../../../assets/img/banners/banner4.jpg" alt="MITSUBISHI">-->
    <div class="resize">
    <img src="../../../registrate/assets/img/banners/banner2.jpg" alt="MITSUBISHI">
    <!-- <img src="../../../assets/img/banners/banner2.jpg" alt="MITSUBISHI">-->
    </div>
    <span class="handle"></span>
  </div>


  <app-formulario> </app-formulario>
</section>
