<div [className]="flagcookies ? 'wrap-cookies show' : 'hide'">
  <div class="cookies_container">
  Mitsubishi utiliza cookies con la finalidad de analizar el uso de la página web, mostrarle publicidad personalizada y obtener estadísticas. Las cookies son pequeños archivos de texto que pueden recabar datos personales y otra información, como su sistema operativo, su navegador, páginas que visita, tiempo que pasa en nuestro sitio, su dirección de Protocolo de Internet, sus preferencias. Las cookies pueden deshabilitarse siguiendo las instrucciones de su navegador. Para más información sobre el procedimiento de ejercicio de derechos, envíenos un correo a.
  </div>
  <div class="btn-cookies" (click)="aceptoCookies()">Acepto</div>
</div>
