<div id="Thankyoupage" class="container-thankyoupage">
  <div class="circle"></div>
<div class="textoenthan">
  <div class="texto-thankyoupage">
    <p  class="rojo-main">¡GRACIAS POR TU REGISTRO!</p>
    <p class="miniTitleThank">Pronto te estaremos contactando</p>
  <!--  <img src="../../../assets/img/moji.png" alt="Telefonica">-->
  </div>
      <p class="redes-thank">
        <a href="https://www.facebook.com/mitsubishimex/" target="_blank" onclick="gtag('event', 'clic', {'event_category' : 'thankyoupage','event_label' : 'facebook'});"><img src="../../../assets/img/logo-facebook.png" alt="Redes Sociales Telefonica" class="redes-icons"></a>
        <a href="https://twitter.com/mitsubishimex" target="_blank" onclick="gtag('event', 'clic', {'event_category' : 'thankyoupage','event_label' : 'twitter'});"><img src="../../../assets/img/logotipo-twitter.png" alt="Redes Sociales Telefonica" class="redes-icons"></a>
        <a href="https://www.instagram.com/mitsubishimex/?hl=es-la" target="_blank" onclick="gtag('event', 'clic', {'event_category' : 'thankyoupage','event_label' : 'instagram'});"><img src="../../../assets/img/logo-instagram.png" alt="Redes Sociales Telefonica" class="redes-icons"></a>
    </p>
</div>
</div>
